In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
pyspark_df = spark.read.csv('../datasets/test2.csv', header=True, inferSchema=True)
pyspark_df

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [5]:
pyspark_df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

#### Borrar valores faltantes

In [6]:
# Si no se le pasa argumento al drop, elimina todas aquellas filas que contengan
# algún nulo
pyspark_df.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [8]:
# Probando parámetros del drop
# parámetro how=all
# Elimina solo aquellas filas que contengan todo nulos.
# En este caso no existe en el df una fila con todo nulos
pyspark_df.na.drop(how='all').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [9]:
# parámetro threshold=2
# Elimina aquellas filas en las que no haya al menos dos valores que no sean
# nulos
pyspark_df.na.drop(thresh=2).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

In [11]:
pyspark_df.na.drop(thresh=1).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

In [13]:
pyspark_df.na.drop(thresh=3).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

In [14]:
# parámetro subset
# Se borran aquellas filas con valores faltantes en las columnas indicadas
pyspark_df.na.drop(subset=['Experience']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

In [16]:
pyspark_df.na.drop(subset=['Experience', 'Name']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

#### Rellenar valores faltantes

In [17]:
# Probando parámetros de fill
# parámetro value
# Importante: No se rellenan todos los valores null. Solo aquellos que
# corresponden el tipo de valor indicado
pyspark_df.na.fill('Valores faltantes').show()

+-----------------+----+----------+------+
|             Name| age|Experience|Salary|
+-----------------+----+----------+------+
|            Krish|  31|        10| 30000|
|        Sudhanshu|  30|         8| 25000|
|            Sunny|  29|         4| 20000|
|             Paul|  24|         3| 20000|
|           Harsha|  21|         1| 15000|
|          Shubham|  23|         2| 18000|
|           Mahesh|null|      null| 40000|
|Valores faltantes|  34|        10| 38000|
|Valores faltantes|  36|      null|  null|
+-----------------+----+----------+------+

In [24]:
# Aqui se rellenan las columnas numéricas
pyspark_df.na.fill(23232323).show()

+---------+--------+----------+--------+
|     Name|     age|Experience|  Salary|
+---------+--------+----------+--------+
|    Krish|      31|        10|   30000|
|Sudhanshu|      30|         8|   25000|
|    Sunny|      29|         4|   20000|
|     Paul|      24|         3|   20000|
|   Harsha|      21|         1|   15000|
|  Shubham|      23|         2|   18000|
|   Mahesh|23232323|  23232323|   40000|
|     null|      34|        10|   38000|
|     null|      36|  23232323|23232323|
+---------+--------+----------+--------+

In [26]:
# parámetro subset
# para indicar la columna o columnas a rellenar. No permite rellenar la columna
# con distinto tipo
pyspark_df.na.fill('Valores faltantes', 'Experience').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [27]:
pyspark_df.na.fill('Valores faltantes', 'Name').show()

+-----------------+----+----------+------+
|             Name| age|Experience|Salary|
+-----------------+----+----------+------+
|            Krish|  31|        10| 30000|
|        Sudhanshu|  30|         8| 25000|
|            Sunny|  29|         4| 20000|
|             Paul|  24|         3| 20000|
|           Harsha|  21|         1| 15000|
|          Shubham|  23|         2| 18000|
|           Mahesh|null|      null| 40000|
|Valores faltantes|  34|        10| 38000|
|Valores faltantes|  36|      null|  null|
+-----------------+----+----------+------+

In [30]:
# varias columnas
pyspark_df.na.fill(23232323, ['age', 'Salary']).show()

+---------+--------+----------+--------+
|     Name|     age|Experience|  Salary|
+---------+--------+----------+--------+
|    Krish|      31|        10|   30000|
|Sudhanshu|      30|         8|   25000|
|    Sunny|      29|         4|   20000|
|     Paul|      24|         3|   20000|
|   Harsha|      21|         1|   15000|
|  Shubham|      23|         2|   18000|
|   Mahesh|23232323|      null|   40000|
|     null|      34|        10|   38000|
|     null|      36|      null|23232323|
+---------+--------+----------+--------+

#### Imputación de valores con media, median, etc

In [31]:
from pyspark.ml.feature import Imputer

In [40]:
# Similar a sklearn
imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'],
    outputCols=['{}_imputed'.format(col) for col in ['age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [41]:
imputer.fit(pyspark_df).transform(pyspark_df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

In [42]:
imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'],
    outputCols=['{}_imputed'.format(col) for col in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [43]:
imputer.fit(pyspark_df).transform(pyspark_df).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         29|                 4|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 4|         20000|
+---------+----+----------+------+-----------+------------------+--------------+